<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <title>The Chief Place - Reservation</title>
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html">home</a>
                <a href="menu.html">menu</a>
                <a href="reservation.html">reservation</a>
            </nav>
        </header>
        <main>
            <section class="section-none">
                <div class="reservation">
                    <h1>We are waiting for you.</h1>
                    <p class="call-us">Call us anytime.</p>
                    <div class="information">
                        <div class="adress">
                            <h2>Reservation.</h2>
                            <p>The adress : 2-3, Marunouchi, Tokyo</p>
                            <p>Call us : +8112-214-8478</p>
                            <p>Email us : Ryori@gmail.com</p>
                        </div>
                        <div class="schedule">
                            <h2>Schedule.</h2>
                            <ul class="opening-time">
                                <li><span>Monday</span> <span>Closed</span></li>
                                <li>
                                    <span>Tuesday</span> <span>11am-00pm</span>
                                </li>
                                <li>
                                    <span>Wednesday</span>
                                    <span>11am-00pm</span>
                                </li>
                                <li>
                                    <span>Thursday</span> <span>11am-00pm</span>
                                </li>
                                <li>
                                    <span>Friday</span> <span>11am-00pm</span>
                                </li>
                                <li>
                                    <span>Saturday</span> <span>11am-00pm</span>
                                </li>
                                <li>
                                    <span>sunday</span> <span>11am-00pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cover">
                    <img src="../img/6rx32jtt.bmp" alt="" />
                    <img src="../img/8g4mj5io.bmp" alt="" />
                    <img src="../img/oe2hpi5x.bmp" alt="" />
                </div>
            </section>
        </main>

        <footer>
            <p>Copyright © 2021 Japan Theme. All Rights Reserved</p>
        </footer>
    </body>
</html>
